<article class="image-with-text">
  <figure class="image-with-text-image grid-item-image">
    {% if image %}
      {%
        include 'rimg',
        img: image,
        size: '512x',
        lazy: true
      %}
    {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </figure>

  {%
    include 'patterns',
    size: 'small',
    class: 'grid-item-pattern'
  %}

  {% if heading != blank or caption != blank %}
    <div class="image-with-text-info grid-item-info">
      {% if heading != blank %}
        <h2 class="image-with-text-title">
          {{ heading | escape }}
        </h2>
      {% endif %}

      {% if caption != blank %}
        <div class="image-with-text-caption rte">
          {{ caption }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</article>
