<div class="modal" data-modal-wrapper>
  <div class="modal-inner" data-modal-inner>
    <button
      class="modal-close"
      type="button"
      aria-label="{{ 'general.accessibility.close' | t }}"
      data-modal-close
    >
      {% include 'icons', id: 'close' %}
    </button>
    <div class="modal-border">
      <div class="modal-content" data-modal-content></div>
    </div>
  </div>
</div>
