<section
  class="
    testimonials
    {{ section.settings.background }}
  "
>
  {% if section.settings.title != blank or section.settings.subheading != blank %}
    <div class="testimonials-header">
      {% if section.settings.subheading != blank %}
        <h3 class="testimonials-subheading">
          {{ section.settings.subheading | escape }}
        </h3>
      {% endif %}

      {% if section.settings.title != blank %}
        <h2 class="testimonials-heading">
          {{ section.settings.title | escape }}
        </h2>
      {% endif %}
    </div>
  {% endif %}

  <div
    class="testimonials-container"
    {% if section.blocks.size > 1 or section.blocks.size == 0 %}
      data-testimonials
    {% endif %}
  >
    {% for block in section.blocks %}
      {%
        include 'testimonial',
        block_attributes: block.shopify_attributes,
        name: block.settings.title,
        link: block.settings.link,
        caption: block.settings.caption,
        style: block.settings.style,
        product: all_products[block.settings.product_handle]
      %}
    {% else %}
      {% for i in (1..3) %}
        {%
          include 'testimonial',
          onboard: true
        %}
      {% endfor %}
    {% endfor %}
  </div>
</section>
