<article class="site-page background-alternate">
  <header class="page-masthead">
    <h1 class="page-title">
      {{ 'account.reset_password.title' | t }}
    </h1>
  </header>

  <div class="page-container">
    <div class="page-content rte">
      <div class="account-reset-password">
        {% form 'reset_customer_password' %}
          {% if form.errors %}
            {{ form.errors | default_errors }}
          {% endif %}

          {% assign account_reset_password_password_label = 'account.reset_password.password' | t %}
          {%
            include 'form-elements',
            id: 'password',
            name: 'customer[password]',
            type: 'password'
            label: account_reset_password_password_label
          %}

          {% assign account_reset_password_repeat_password_label = 'account.reset_password.repeat_password' | t %}
          {%
            include 'form-elements',
            id: 'password-repeat',
            name: 'customer[password_confirmation]',
            type: 'password'
            label: account_reset_password_repeat_password_label
          %}

          {% assign account_reset_password_submit_value = 'account.reset_password.submit' | t %}
          {%
            include 'form-elements',
            secondary: true,
            type: 'submit'
            value: account_reset_password_submit_value
          %}
        {% endform %}
      </div>
    </div>
  </div>

  {%
    include 'patterns',
    size: 'large',
    class: 'page-content-pattern'
  %}
</article>
