{%
  include 'text-block',
  background: section.settings.background,
  text_layout: section.settings.text_layout,
  title: section.settings.title,
  subheading: section.settings.subheading,
  text: section.settings.text
%}
{%
            include 'patterns',
            size: 'large',
            class: 'text-block-pattern'
%}
{% schema %}
{
  "name": "Rich text",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Rich text"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this section to welcome customers to your store, say a bit about your brand, or share news and seasonal promotions.</p>"
    },
    {
      "type": "select",
      "id": "text_layout",
      "label": "Text layout",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },

    {
      "type": "select",
      "id": "background",
      "label": "Background",
      "options": [
        {
          "value": "background-default",
          "label": "Default"
        },
        {
          "value": "background-alternate",
          "label": "Alternate"
        }
      ],
      "default": "background-default"
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Rich text"
    }
  ]
}

{% endschema %}