<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-image-with-text-overlay"
>
</script>

{%
  include 'image-block',
  image: section.settings.image,
  text_layout: section.settings.text_layout,
  title: section.settings.title,
  subheading: section.settings.subheading,
  text: section.settings.text,
  custom_color: section.settings.custom_color,
  text_color: section.settings.text_color,
  link: section.settings.link,
  link_text: section.settings.link_text,
  overlay_color: section.settings.overlay_color,
  overlay_opacity: section.settings.overlay_opacity
%}

{% schema %}
{
  "name": "Image with text overlay",
  "class": "section-image-with-text-overlay",
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image",
      "info": "1160 x 560px recommended"
    },
    {
      "type": "select",
      "id": "text_layout",
      "label": "Text layout",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text overlay"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Say a bit about your brand, a specific product, or promotion.</p>"
    },
    {
      "type": "checkbox",
      "id": "custom_color",
      "label": "Use custom text color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Custom text color",
      "default": "#2f5d62"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Link"
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "Link text"
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#ffffff"
    },
    {
      "id": "overlay_opacity",
      "type": "range",
      "label": "Opacity",
      "default": 50,
      "min": 0,
      "max": 90,
      "step": 1,
      "unit": "%"
     }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Image with text overlay"
    }
  ]
}

{% endschema %}