<article class="site-page background-alternate">
  <header class="page-masthead">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
  </header>


  {% if page.content != blank %}
    <div class="page-container">
      <div class="page-content rte" data-rte>
        {{ page.content }}
      </div>
    </div>

    {%
      include 'patterns',
      size: 'large',
      class: 'page-content-pattern'
    %}
  {% endif %}
</article>
